<nav class="flex-shrink-0 bg-yellow-300 fixed top-0 left-0 right-0 z-40">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0 xl:w-64">
        <div class="flex-shrink-0">
          <a routerLink="/">
            <img class="h-8 w-auto" src="/assets/logo.svg">
          </a>
        </div>
      </div>
      <div class="flex-1 flex justify-center lg:justify-end">
        <div class="w-full px-2 lg:px-6">
          <div class="relative text-white focus-within:text-black">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i-feather [style.width]="'16px'" [style.height]="'16px'" name="search"></i-feather>
            </div>
            <input id="search" [(ngModel)]="searchQuery" (keyup.enter)="search()"
                   class="block w-full pl-10 pr-3 py-2 border border-transparent
                          rounded-md leading-5 bg-red-400 bg-opacity-25
                          text-black placeholder-black focus:outline-none
                          focus:bg-white focus:placeholder-gray-400
                          focus:text-gray-900 sm:text-sm transition duration-150 ease-in-out"
                   placeholder="Postleitzahl eingeben..." type="search">
          </div>
        </div>
      </div>
      <div class="flex">
        <a routerLink="/profile" class="px-3 pt-2 hover:text-white cursor-pointer transition duration-150 ease-in-out"
           *ngIf="login.isLoggedIn$ | async"
           [routerLinkActive]="'text-white'">
          <feather-icon name="user"></feather-icon>
        </a>
        <a routerLink="/admin" class="px-3 pt-2 hover:text-white cursor-pointer transition duration-150 ease-in-out"
           *ngIf="login.isAdmin$ | async"
           [routerLinkActive]="'text-white'">
            <feather-icon name="bar-chart-2"></feather-icon>
        </a>
        <a routerLink="/login/logout" class="px-3 pt-2 hover:text-white cursor-pointer transition duration-150 ease-in-out"
           *ngIf="login.isLoggedIn$ | async"
           [routerLinkActive]="'text-white'">
          <feather-icon name="log-out"></feather-icon>
        </a>
        <a routerLink="/login" class="px-3 pt-2 hover:text-white cursor-pointer transition duration-150 ease-in-out"
           *ngIf="!(login.isLoggedIn$ | async)"
           [routerLinkActive]="'text-white'">
          <feather-icon name="log-in"></feather-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
