<p *ngIf="error" class="text-red-700">Ein Fehler ist aufgetreten.</p>
<form [formGroup]="loginForm" (ngSubmit)="register()">
  <app-input label="E-Mail"
             type="email"
             required="true"
             placeholder="max@mustermann.de"
             formControlName="email">
  </app-input>
  <app-input label="Passwort"
             type="password"
             required="true"
             placeholder="*****"
             formControlName="password">
  </app-input>
  <div class="flex justify-end w-full mt-7">
    <div>
      <app-button
        (click)="closeModal()"
        type="blank"
        label="Abbrechen"
        [icon]="null"></app-button>
      <app-button
        type="info"
        formButtonType="submit"
        label="Account anlegen"></app-button>
    </div>
  </div>
</form>
