<app-layout
  title="Ihr Kundenprofil"
  [sidebarPages]="profilePages">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 px-3 py-3">
    <app-loading *ngIf="loading"></app-loading>
    <ng-container *ngIf="!loading">
      <form [formGroup]="editUserForm">
        <app-input label="E-Mail"
                   placeholder="max@example.com"
                   formControlName="email">
        </app-input>
        <app-input label="Passwort"
                   type="password"
                   placeholder="*****"
                   formControlName="password">
        </app-input>
      </form>
      <div class="flex justify-end w-full">
        <div>
          <app-button
            label="Speichern"
            (click)="updateUser()">
          </app-button>
        </div>
      </div>
    </ng-container>
  </div>

</app-layout>
