<app-admin-layout>
  <app-loading *ngIf="loading"></app-loading>
  <table class="table-fixed w-full" *ngIf="!loading">
    <thead>
    <tr>
      <th class="w-1/4 text-left">Titel</th>
      <th class="text-left">Plz</th>
      <th class="text-left hidden md:table-cell">Cost Fix</th>
      <th class="text-left hidden md:table-cell">Cost Var</th>
      <th class="text-left"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let plan of results" class="leading-normal">
      <td>{{ plan.plan }}</td>
      <td>{{ plan.postcode }}</td>
      <td class="hidden md:table-cell">{{ plan.cost_fix }}</td>
      <td class="hidden md:table-cell">{{ plan.cost_var }}</td>
      <td><app-button label="Bearbeiten"></app-button></td>
    </tr>
    </tbody>
  </table>
</app-admin-layout>
