<p *ngIf="error" class="my-5 text-red-700">Ein Fehler ist aufgetreten. Bitte füllen Sie alle Felder aus.</p>
<form [formGroup]="customerForm">
  <div class="md:flex">
    <app-input label="Vorname"
               class="flex-1 md:pr-2"
               placeholder="Max"
               required="true"
               formControlName="firstName">
    </app-input>
    <app-input label="Nachname"
               class="flex-1 md:pl-2"
               placeholder="Mustermann"
               required="true"
               formControlName="lastName">
    </app-input>
  </div>
  <hr class="my-3">
  <div class="md:flex">
    <app-input label="Straße"
               class="flex-1 md:pr-2"
               placeholder="Bahnhofsstraße"
               required="true"
               formControlName="street">
    </app-input>
    <app-input label="Hausnummer"
               class="flex-1 md:pl-2"
               placeholder="42"
               required="true"
               formControlName="streetNumber">
    </app-input>
  </div>
  <div class="md:flex">
    <app-input label="Postleitzahl"
               class="flex-1 md:pr-2"
               placeholder="12345"
               [disabled]="orderService.selectedPlan$.value.postcode != null"
               formControlName="postcode">
    </app-input>
    <app-input label="Stadt"
               class="flex-1 md:pl-2"
               placeholder="Musterstadt"
               required="true"
               formControlName="city">
    </app-input>
  </div>
</form>
<div class="flex justify-end w-full mt-7">
  <div>
    <app-button
      (click)="closeModal()"
      type="blank"
      label="Abbrechen"
      [icon]="null"></app-button>
    <app-button
      (click)="createCustomer()"
      type="info"
      label="Kunde anlegen"></app-button>
  </div>
</div>
