<app-nav-spacer></app-nav-spacer>
<ng-container *ngIf="!loading">
  <app-header
    [breadcrumbs]="breadcrumbs"
    [heading]="title"
    [whiteBg]="true"
  >
  </app-header>
  <app-container>
    <app-usage-people-counter (estimatedUsage)="currentEstimatedUsage = $event"></app-usage-people-counter>
    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let result of results">
        <app-plan-detail
          [estimatedUsage]="currentEstimatedUsage" [plan]="result">
          <a [routerLink]="'/order/checkout/' + result.id  + '/' + currentEstimatedUsage">
            <app-button label="Jetzt bestellen"></app-button>
          </a>
        </app-plan-detail>
      </ng-container>
    </ng-container>
    <app-loading *ngIf="loading"></app-loading>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 px-3 py-3" *ngIf="results.length === 0">
    <app-zero-data
      image="empty"
      heading="Leider haben wir keine Tarife für Ihre Region gefunden!"
      description="Versuchen Sie es zu einem späteren Zeitpunkt erneut, oder probieren Sie eine andere Postleitzahl."
      *ngIf="results.length === 0"></app-zero-data>
  </div>
  </app-container>
</ng-container>
