<app-layout [sidebarPages]="sidebarPages" [buttons]="buttonGroup" [breadcrumbs]="breadcrumb"
            heading="Bestellungen verwalten">
  <div class="bg-white  shadow overflow-hidden sm:rounded-lg mb-10 px-3 py-3">
    <app-loading *ngIf="loading"></app-loading>
    <table class="table-fixed w-full" *ngIf="!loading">
      <thead>
      <tr class="border-gray-200 border-b-2">
        <th class="pl-2 truncate text-left">Kunde</th>
        <th class="truncate text-left">Tarif</th>
        <th class="w-1/3 truncate text-left"></th>
      </tr>
      </thead>
      <tbody>
      <tr orderTr [order]="order" *ngFor="let order of results"></tr>
      </tbody>
    </table>
    <app-zero-data *ngIf="!loading && results.length === 0"></app-zero-data>
  </div>
  <app-pagination *ngIf="!loading &&  results.length >= currentLimitAndOffset.limit"
                  [limitAndOffset]="currentLimitAndOffset" (limitAndOffsetEvent)="currentLimitAndOffset = $event; loadData()">
  </app-pagination>
</app-layout>

<ng-template #provisionModal>
  <div class="mt-5">
    <app-admin-pie-stats></app-admin-pie-stats>
  </div>
  <div class="mt-5">
    <app-admin-referrer-stats></app-admin-referrer-stats>
  </div>
  <div class="flex justify-end w-full mt-7">
    <div>
      <app-button
        (click)="closeModal()"
        type="info"
        label="Ok"></app-button>
    </div>
  </div>
</ng-template>
