<app-modal *ngIf="showModal">
  <h1>{{title}}</h1>
  <hr class="my-5">
  <p class="my-5">{{description}}</p>
  <div class="flex justify-end w-full">
    <div class="">
      <app-button
                  (click)="runCancelAction()"
                  type="blank"
                  label="Abbrechen"
                  [icon]="null"></app-button>
      <app-button
                  (click)="runConfirmAction()"
                  type="danger"
                  [label]="confirmButton.title"></app-button>
    </div>
  </div>
</app-modal>
