<div class="text-center flex items-end justify-center lg:text-left h-screen"
     style="background: url('/assets/wallpaper/{{image}}') center center / cover">
  <app-container>
    <div style="background: rgba(255, 255, 255, 0.95)"
         class="bg-white shadow overflow-hidden rounded-lg mb-20 sm:px-6">
      <div class="py-5 border-b border-gray-200 sm:px-6 px-3">
        <h2
          class="text-4xl tracking-tight leading-10 font-extrabold text-black sm:text-5xl sm:leading-none md:text-6xl">
          Sonnenstrahl
          <br class="xl:hidden hidden md:block">
          <span class="text-yellow-300">Energie</span>
        </h2>
        <div class="my-5">
          <fieldset>
            <div
              style="background: rgba(255, 255, 255, 0.6)"
              class="mt-1 rounded-md shadow-sm flex h-16 space-x-2 border">
              <input aria-label="Postleitzahl"
                     (keyup.enter)="search()"
                     [(ngModel)]="searchQuery"
                     type="text"
                     class="flex-grow h-16 focus:shadow-outline-yellow
                      text-1xl text-center form-input relative block w-full
                      rounded-none rounded-md border-none bg-transparent
                      focus:z-10 transition ease-in-out duration-150 sm:leading-5"
                     placeholder="Postleitzahl">
              <div class="cursor-pointer flex-shrink-0 px-5 h-full flex items-center"
                   [class.text-yellow-300]="searchQuery.length >= 5"
                   [class.text-black]="searchQuery == ''"
                   (click)="search()">
                <i-feather name="search"></i-feather>
              </div>
            </div>
          </fieldset>
        </div>
        <p class="mt-3 text-base text-black sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
          Werden Sie <span class="text-blue-500">eins</span> mit der Natur. Finden Sie jetzt ihren individuellen
          Stromtarif für Ihr Zuhause.
        </p>
      </div>
    </div>
  </app-container>
</div>
