<p *ngIf="error" class="text-red-700">E-Mail oder Passwort falsch!</p>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <app-input label="E-Mail"
             type="email"
             placeholder="max@mustermann.de"
             formControlName="email">
  </app-input>
  <app-input label="Passwort"
             type="password"
             placeholder="*****"
             formControlName="password">
  </app-input>
  <div class="flex justify-end w-full mt-7">
    <div>
      <app-button
        (click)="closeModal()"
        type="blank"
        label="Abbrechen"
        [icon]="null"></app-button>
      <app-button
        type="info"
        formButtonType="submit"
        label="Login"></app-button>
    </div>
  </div>
</form>
