<app-nav-spacer></app-nav-spacer>
<app-header
  heading="Tarif bestellen"
  [breadcrumbs]="breadcrumbs"
  [whiteBg]="true">
</app-header>
<app-container>
  <div *ngIf="!loading">
    <!--
    ####################################################################################################################

      Estimated Usage

    ####################################################################################################################
    -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 p-4 md:flex items-center"
         *ngIf="currentStep != 1">
      <div class="md:mr-5">
        <span class="flex-shrink-0">
          <span
            class="w-10 h-10 flex items-center justify-center border-2 rounded-full border-green-400">
            <span class="text-green-400">1</span>
          </span>
        </span>
      </div>
      <div class="flex-1">
        <h1 class="text-2xl font-bold">Verbrauch</h1>
        <span
          class="text-md text-blue-600">{{estimatedUsage}}</span>kWh angegeben.
      </div>
      <app-button
        (click)="setCurrentStep(1)"
        class="flex-1 text-right" type="blank" label="Ändern" size="small"></app-button>
    </div>
    <ng-container *ngIf="currentStep == 1">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
        <div class="p-4 md:flex items-center">
          <app-zero-data
            class="flex-1"
            image="wind"
            description="Geben Sie hier Ihren geschätzen jährlichen Verbrauch an. Alternativ können Sie auch die Personenzahl angeben."
            heading="Geschätzter Verbrauch"></app-zero-data>
          <div class="flex-1">
            <app-usage-people-counter [currentEstimatedUsage]="estimatedUsage"
                                      (estimatedUsage)="estimatedUsage = $event"></app-usage-people-counter>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 flex">
          <div class="md:mr-5 flex-grow">
            <span class="flex-shrink-0">
              <span
                class="w-10 h-10 flex items-center justify-center border-2 rounded-full border-yellow-300">
                <span class="text-yellow-300">1</span>
              </span>
            </span>
          </div>
          <app-button
            class="right"
            label="Weiter"
            (click)="showNextStep()">
          </app-button>
        </div>
      </div>
    </ng-container>
    <!--
    ########################################################################################################################

      Login / Register

    ########################################################################################################################
    -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 p-4 md:flex items-center" *ngIf="currentStep != 2">
      <div class="md:mr-5">
        <span class="flex-shrink-0">
          <span
            [class.border-green-400]="currentStep > 2"
            class="w-10 h-10 flex items-center justify-center border-2 rounded-full">
            <span
              [class.text-green-400]="currentStep > 2"
              [class.text-gray-400]="currentStep < 2">2</span>
          </span>
        </span>
      </div>
      <div class="flex-1">
        <h1 class="text-2xl font-bold">Sonnenstrahl-Energie Account</h1>
        <div *ngIf="currentStep > 2">
          Angemeldet als
          <span class="text-md text-blue-600">{{(loginService.decodedJwt$ | async)?.email}}</span>
        </div>
      </div>
      <app-button
        (click)="setCurrentStep(2)"
        *ngIf="currentStep > 2"
        class="flex-1 text-right" type="blank" label="Ändern" size="small"></app-button>
    </div>
    <ng-container *ngIf="currentStep == 2">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
        <div class="p-4 md:flex items-center">
          <app-zero-data
            class="flex-1"
            image="login"
            description="Sie können Tarife für Ihr eigenes zu Hause oder für das Ihrer Familie bestellen.
          Mit Ihrem persönlichen Sonnenstrahl-Energie Account können Sie die Tarifbestellungen mehrerer Personen
          verwalten." heading="Ihr Sonnenstrahl-Energie Account"></app-zero-data>
          <div class="flex-1" *ngIf="!(loginService.isLoggedIn$ | async)">
            <app-button (click)="showModal('login')" type="blank" label="Ich habe ein Konto"></app-button>
            <app-button (click)="showModal('register')" label="Ich habe kein Konto"></app-button>
          </div>
          <div class="flex-1 text-center" *ngIf="loginService.isLoggedIn$ | async">
            <div class="w-full my-5">
              Angemeldet als
              <span class="text-lg text-black font-bold">{{(loginService.decodedJwt$ | async)?.email}}</span>
            </div>
            <app-button size="small" class="mt-5" (click)="showModal('login')" type="blank"
                        label="Anderes Konto verwenden"></app-button>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 flex">
          <div class="md:mr-5 flex-grow">
            <span class="flex-shrink-0">
              <span
                class="w-10 h-10 flex items-center justify-center border-2 rounded-full border-yellow-300">
                <span class="text-yellow-300">2</span>
              </span>
            </span>
          </div>
          <app-button
            type="blank"
            label="Zurück"
            (click)="showPreviousStep()">
          </app-button>
          <app-button
            *ngIf="loginService.isLoggedIn$ | async"
            label="Weiter"
            (click)="showNextStep()">
          </app-button>
        </div>
      </div>
    </ng-container>
    <!--
    ########################################################################################################################

      Customer

    ########################################################################################################################
    -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 p-4 md:flex items-center" *ngIf="currentStep != 3">
      <div class="md:mr-5">
        <span class="flex-shrink-0">
          <span
            [class.border-green-400]="currentStep > 3"
            class="w-10 h-10 flex items-center justify-center border-2 rounded-full">
            <span
              [class.text-green-400]="currentStep > 3"
              [class.text-gray-400]="currentStep < 3">3</span>
          </span>
        </span>
      </div>
      <div class="flex-1">
        <h1 class="text-2xl font-bold">Kunde</h1>
        <div *ngIf="currentStep > 3">
          <span class="text-md text-blue-600">
            {{(orderService.selectedCustomer$ | async)?.firstName}} {{(orderService.selectedCustomer$ | async)?.lastName}}
            ,
          </span>
          {{(orderService.selectedCustomer$ | async)?.postcode}} {{(orderService.selectedCustomer$ | async)?.city}}
        </div>
      </div>
      <app-button
        (click)="setCurrentStep(3)"
        *ngIf="currentStep > 3"
        class="flex-1 text-right" type="blank" label="Ändern" size="small"></app-button>
    </div>
    <ng-container *ngIf="currentStep == 3">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
        <div class="p-4 md:flex items-center">
          <app-zero-data
            class="flex-1"
            image="people"
            description="Sie können Tarife für Ihr eigenes Zuhause oder für das Ihrer Familie bestellen.
      Wählen Sie einen bestehenden Kunden aus oder erstellen Sie einen neuen Kunden. Bestehende Kunden können unter Ihrem Profil bearbeitet werden."
            heading="Kunde wählen"></app-zero-data>
          <div class="flex-1 text-center" *ngIf="(orderService.selectedCustomer$ | async) === null">
            <div class="w-full my-5" *ngIf="customersOfCurrentUserCount === 0">
              Zu Ihrem Account wurde noch kein Kunde angelegt.
            </div>
            <app-button size="small"
                        (click)="showModal('createCustomer')"
                        label="Neuen Kunden anlegen"></app-button>
            <div class="mt-3">
              <app-button
                *ngIf="customersOfCurrentUserCount !== 0"
                size="small"
                type="blank"
                (click)="showModal('selectCustomer')"
                label="Bestehenden Kunden wählen"></app-button>
            </div>
          </div>
          <div class="flex-1 text-center" *ngIf="!((orderService.selectedCustomer$ | async) === null)">
            <div class="w-full my-5">
              <span class="text-lg text-black font-bold">
                {{(orderService.selectedCustomer$ | async)?.firstName}} {{(orderService.selectedCustomer$ | async)?.lastName}}
              </span>
              ausgewählt
            </div>
            <app-button size="small" class="mt-5" (click)="orderService.selectedCustomer$.next(null)" type="blank"
                        label="Anderen Kunden wählen"></app-button>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 flex">
          <div class="md:mr-5 flex-grow">
            <span class="flex-shrink-0">
              <span
                class="w-10 h-10 flex items-center justify-center border-2 rounded-full border-yellow-300">
                <span class="text-yellow-300">3</span>
              </span>
            </span>
          </div>
          <app-button
            type="blank"
            label="Zurück"
            (click)="showPreviousStep()">
          </app-button>
          <app-button
            *ngIf="!((orderService.selectedCustomer$ | async) == null)"
            label="Weiter"
            (click)="showNextStep()">
          </app-button>
        </div>
      </div>
    </ng-container>
    <!--
    ########################################################################################################################

      Summary

    ########################################################################################################################
    -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 p-4 md:flex items-center" *ngIf="currentStep != 4">
      <div class="md:mr-5">
        <span class="flex-shrink-0">
          <span
            class="w-10 h-10 flex items-center justify-center border-2 rounded-full">
            <span class="text-gray-400">4</span>
          </span>
        </span>
      </div>
      <div class="flex-1">
        <h1 class="text-2xl font-bold">Angaben überprüfen</h1>
      </div>
    </div>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 p-4 md:flex items-center" *ngIf="currentStep > 4">
      <div class="md:mr-5">
        <span class="flex-shrink-0">
          <span
            class="border-yellow-300 w-10 h-10 flex items-center justify-center border-2 rounded-full">
            <span class="text-yellow-300">4</span>
          </span>
        </span>
      </div>
      <div class="flex-1">
        <h1 class="text-2xl font-bold">Auftrag bestätigen</h1>
      </div>
    </div>
    <ng-container *ngIf="currentStep == 4">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
        <app-zero-data
          class="flex-1"
          image="finish_line"
          description="Bitte überprüfen Sie nochmals Ihre Angaben zu Ihrer Bestellung"
          heading="Angaben überprüfen"></app-zero-data>
      </div>
      <app-plan-detail
        [plan]="plan" [estimatedUsage]="estimatedUsage">
        Verbrauch: <b>{{estimatedUsage}}kWh</b>
      </app-plan-detail>
      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
        <div class="px-6 py-4">
          <h1 class="font-bold text-2xl">Kundendaten</h1>
          <div class="md:flex items-start">
            <div class="flex-1">
              <div class="flex">
                <app-labeled-value
                  label="Vorname"
                  class="flex-1"
                  [value]="(orderService.selectedCustomer$ | async)?.firstName">
                </app-labeled-value>
                <app-labeled-value
                  label="Nachname"
                  class="flex-1"
                  [value]="(orderService.selectedCustomer$ | async)?.lastName">
                </app-labeled-value>
              </div>
              <div class="flex">
                <app-labeled-value
                  label="Straße"
                  class="flex-1"
                  [value]="(orderService.selectedCustomer$ | async)?.street + ' ' + (orderService.selectedCustomer$ | async)?.streetNumber">
                </app-labeled-value>
                <app-labeled-value
                  label="PLZ, Ort"
                  class="flex-1"
                  [value]="(orderService.selectedCustomer$ | async)?.postcode + ' ' + (orderService.selectedCustomer$ | async)?.city">
                </app-labeled-value>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 flex">
          <div class="md:mr-5 flex-grow">
            <span class="flex-shrink-0">
              <span
                class="w-10 h-10 flex items-center justify-center border-2 rounded-full border-yellow-300">
                <span class="text-yellow-300">4</span>
              </span>
            </span>
          </div>
          <app-button
            type="blank"
            label="Zurück"
            (click)="showPreviousStep()">
          </app-button>
          <app-button
            type="danger"
            label="Verbindlich buchen"
            (click)="order()">
          </app-button>
        </div>
      </div>
    </ng-container>
  </div>
</app-container>
<ng-template #errorModal>
  <h1>Ein Fehler ist aufgetreten!</h1>
  Kehren Sie zur <a class="text-blue-600" routerLink="/">Startseite</a> zurück.
</ng-template>
<ng-template #loginModal>
  <app-login-modal></app-login-modal>
</ng-template>
<ng-template #registerModal>
  <app-register-modal></app-register-modal>
</ng-template>
<ng-template #selectCustomerModal>
  <app-select-customer-modal></app-select-customer-modal>
</ng-template>
<ng-template #createCustomerModal>
  <app-create-customer-modal></app-create-customer-modal>
</ng-template>
